<div class="menu">
    <img src="assets/images/logo.png" alt="TS Online Logo" class="menu__logo">
    <div class="menu__buttons">
        <button mat-button class="menu__link">
            <mat-icon class="menu__mat-icon">notifications</mat-icon>{{ 'menu.notifications' | translate }}
        </button>
        <button mat-button class="menu__link">
            <mat-icon class="menu__mat-icon">card_travel</mat-icon>{{ 'menu.files' | translate }}
        </button>
        <button mat-button class="menu__link">
            <mat-icon class="menu__mat-icon">perm_identity</mat-icon>{{ 'menu.drivers' | translate }}
        </button>
        <button mat-button class="menu__link">
            <mat-icon class="menu__mat-icon">motorcycle</mat-icon>{{ 'menu.vehicles' | translate }}
        </button>
        <button mat-button class="menu__link">
            <mat-icon class="menu__mat-icon">pie_chart</mat-icon>{{ 'menu.reports' | translate }}
        </button>
        <button mat-button class="menu__link">
            <mat-icon class="menu__mat-icon">settings</mat-icon>{{ 'menu.settings' | translate }}
        </button>
        <button mat-button class="menu__link">
            <mat-icon class="menu__mat-icon">location_on</mat-icon>{{ 'menu.map' | translate }}
        </button>
    </div>
</div>